config:
subcomponents:
  cloud-native:
    subcomponents:
      elasticsearch-fluentd-kibana:
        subcomponents:
          elasticsearch:
            namespace: logging
            injectNamespace: true
            config:
              client:
                resources:
                  limits:
                    memory: "2048Mi"
          elasticsearch-curator:
            namespace: logging
            injectNamespace: true
            config:
              cronjob:
                successfulJobsHistoryLimit: 0
              configMaps:
                config_yml: |-
                  ---
                  client:
                    hosts:
                      - elasticsearch-client.elasticsearch.svc.cluster.local
                    port: 9200
                    use_ssl: False
          fluentd-elasticsearch:
            namespace: logging
            injectNamespace: true
            config:
              elasticsearch:
                host: "elasticsearch-client.elasticsearch.svc.cluster.local"
          kibana:
            namespace: logging
            injectNamespace: true
            config:
              files:
                kibana.yml:
                  elasticsearch.url: "http://elasticsearch-client.elasticsearch.svc.cluster.local:9200"

      prometheus-operator:
        namespace: prometheus
        injectNamespace: true
        config:
          coreDns:
            enabled: true
          kubeDns:
            enabled: false